# dataset
ffhq_data/
*.zip

# checkpoints
checkpoints/
*.pt
*.pth

# generated samples
samples/
*.png

fid_samples/
*.png

augmentation_viz/
*.png

baseline_augmentation/
*.png


# logs
*.txt

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/